<configuration>
  <appSettings>
    <add key="InputFile" value="C:\Users\Public\Documents\NHLStats\NHLStats.xls"/>
  </appSettings>
  <connectionStrings>
    <add name="NHLPool" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nhlpool;Integrated Security=True"
 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>